@media screen and (min-width: 950px) {
    .main-logo img {
        width: 50%;
    }

    .main-logo h1 {
        font-size: 50px;
    }

    #mobile-menu {
        display: none;
    }

    .main-menu {
        flex-direction: row;
    }

    .main-menu a {
        display: block;
        flex: 1 1 100%;
    }

    #mode {
        position: absolute;
        top: 1rem;
        right: 10rem;
    }

    main {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-content {
        grid-column: span 3;
    }
}