* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Alegreya Sans";
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

header, 
main, 
footer {
    margin: 1rem;
}

h1 {
    padding: .5rem;
}

main {
    margin-left: 2rem;
}

h1,
footer{
    color: #89023E
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    box-shadow: 0 0 30px #777;
    padding: .5rem;
}

#cards section {
    margin: .25rem;
    padding: .5rem;
    border: 1px solid #6a606a;
    background-color: #89023E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards h2,
p {
    color:#EFE9F4;
}

#cards p {
    padding: 0;
    font-size: 1rem;
    font-family: Alegreya;
}

#cards img {
    width: auto;
    max-width: 340px;
    height: 200px;
    box-shadow: 0 0 30px #777;
    margin: .5rem;
}
