:root {
    --primary-color: #31572C;
    --secondary-color: #FAF3DD;
    --accent1-color: #32292F;
    --accent2-color: #C8D5B9;
    --heading-font: Raleway, helvetica, sans-serif;
    --paragraph-font: Merriweather, serif;
    --nav-font: Merriweather, serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    line-height: 1.5;
}

header, footer {
    max-width: 1500px;
    margin: auto;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    display: flex;
    padding: 1rem;
    position: relative;
}

.logo img {
    width: 35%;
    height: auto;
    border-radius: 50%;
}

h1 {
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    position: absolute;
    top: 1rem;
    left: 8rem;
}

h1::first-line {
    font-size: 30px;
}

h1, h2, h3, footer {
    font-family: var(--heading-font);
}

nav {
    max-width: 1500px;
    margin: auto;
    font-family: var(--nav-font);
}

#menu {
    font-size: 2rem;
    text-decoration: none;
    padding: .3rem;
    border: 0;
    background: none;
    color: var(--accent1-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "≡";
    color: var(--secondary-color);
}

#menu.open::before {
    content: "×";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

.navigation a {
    display: none;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    color: var(--accent1-color);
}

.navigation a.active,
.navigation a:hover{
    color: var(--primary-color);
    font-weight: 500;
    text-decoration: underline;
}

.open a {
    display: block;
}

#mode {
    position: absolute;
	top: 1rem;
	right: 3rem;
	font-size: 1.75rem;
	cursor: pointer;
    padding: .5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

main {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    text-align: center;
}

.hero-card {
    position: relative;
}

.hero-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 5rem;
    left: 10rem;
    background:  white;
    color: var(--accent1-color);
    font-size: 30px;
    padding: .5rem;
    opacity: 0.80;
}

.hero-text p {
    margin: 0;
    padding: .25rem;
    font-weight: 500;
    font-size: 1rem;
    font-family: var(--paragraph-font);
}

.card {
    border: 1px solid var(--accent1-color);
    border-radius: 8px;
    margin: 1rem;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .2rem;
    padding: 1rem;
    font-size: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer div {
    grid-column: span 3;
    padding: .2rem;
}

footer .social img {
    width: 10%;
    height: auto;
    border-radius: 100%;
}

footer img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    padding: .2rem;
}

footer p:nth-last-child(2) {
    grid-column: span 3;
}

#lastModified {
    grid-column: span 3;
}

.discover {
    padding: 1rem;
}

.demographics-card, 
.statistics-card,
.calendar-card, 
.attractions-card{
    border: 1px solid var(--accent1-color);
    margin: 1rem;
}

.attractions-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid var(--accent1-color);
}

.calendar-card p {
    font-size: 1.25rem;
    padding: 1rem;
}

figcaption {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: .5rem;
}