:root {
    --primary-color: #31572C;
    --secondary-color: #FAF3DD;
    --accent1-color: #32292F;
    --accent2-color: #C8D5B9;
    --heading-font: Raleway, helvetica, sans-serif;
    --paragraph-font: Merriweather, serif;
    --nav-font: Merriweather, serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    line-height: 1.5;
}

header, footer {
    max-width: 1500px;
    margin: auto;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    display: flex;
    padding: 1rem;
    position: relative;
}

.logo img {
    width: 35%;
    height: auto;
    border-radius: 50%;
}

h1 {
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    position: absolute;
    top: 1rem;
    left: 8rem;
}

h1::first-line {
    font-size: 30px;
}

h1, h2, h3, footer {
    font-family: var(--heading-font);
}

nav {
    max-width: 1500px;
    margin: auto;
    font-family: var(--nav-font);
}

#menu {
    font-size: 2rem;
    text-decoration: none;
    padding: .3rem;
    border: 0;
    background: none;
    color: var(--accent1-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "≡";
    color: var(--secondary-color);
}

#menu.open::before {
    content: "×";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

.navigation a {
    display: none;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    color: var(--accent1-color);
}

.navigation a.active,
.navigation a:hover{
    color: var(--primary-color);
    font-weight: 500;
    text-decoration: underline;
}

.open a {
    display: block;
}

#mode {
    position: absolute;
	top: 1rem;
	right: 3rem;
	font-size: 1.75rem;
	cursor: pointer;
    padding: .5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

main {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    text-align: center;
}

.hero-card {
    position: relative;
}

.hero-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 5rem;
    left: 10rem;
    background:  white;
    color: var(--accent1-color);
    font-size: 30px;
    padding: .5rem;
    opacity: 0.80;
}

.hero-text p {
    margin: 0;
    padding: .25rem;
    font-weight: 500;
    font-size: 1rem;
    font-family: var(--paragraph-font);
}

.card {
    border: 1px solid var(--accent1-color);
    border-radius: 8px;
    margin: 1rem;
}


#lastModified {
    grid-column: span 3;
}

/*----------- DISCOVER PAGE --------------*/

.discover {
    padding: 1rem;
}

.demographics-card, 
.statistics-card,
.calendar-card, 
.attractions-card{
    border: 1px solid var(--accent1-color);
    margin: 1rem;
}

.attractions-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid var(--accent1-color);
}

.calendar-card p {
    font-size: 1.25rem;
    padding: 1rem;
}

figcaption {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

/*----------- JOIN PAGE --------------*/

.join {
    min-height: 20rem;
    margin: 0 auto;
    padding: 0 2%;
}

.join h2 {
    padding-top: 1rem;
}

fieldset {
    margin: 2rem 0;
    border: 3px solid var(--accent2-color);
    padding: .5rem 5%;
    font-size: 1.5rem;
}

legend {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    padding: 0 .5rem;
    border-radius: 6px;
    font-family: var(--heading-font);
    font-weight: bold;
    text-align: left;
}

label {
    display: block;
    padding-top: 1rem;
    color: var(--accent1-color);
    font-size: 1rem;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    background-color: #fff;
    display: block;
    border: 1px solid var(--accent1-color);
    border-radius: 6px;
    padding: .75rem;
    color: var(--accent1-color);
    width: 100%;
    max-width: 500px;
    appearance: none;
}

textarea {
    font-size: 1rem;
    height: 100px;
}

input[type="radio"] {
    margin-right: 10px;
}

button[type="submit"] {
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 6px;
    padding: .9rem;
    width: 96%;
    max-width: 500px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px var(--primary-color);
    cursor: pointer;
    opacity: 1;
}

button[type="submit"]:hover {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    opacity: .9;
}

table {
    margin: 20px auto;
    border: thin solid var(--secondary-color);
    border-collapse: collapse;
}

tr:first-child th{
    font-family: var(--heading-font);
    font-size: 1.5rem;
}


tr:nth-child(2) th{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    font-size: 1rem;
    font-family: var(--heading-font);
}

th, td {
    padding: .5rem;
    border: none;
}

tbody tr:nth-child(even) {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

tbody tr:nth-child(even):hover {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}

tbody td:first-child {
    font-size: .9rem;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .2rem;
    padding: 1rem;
    font-size: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer div {
    grid-column: span 3;
    padding: .2rem;
}

footer .social img {
    width: 10%;
    height: auto;
    border-radius: 100%;
}

footer img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    padding: .2rem;
}

footer p:nth-last-child(2) {
    grid-column: span 3;
}

#lastModified {
    grid-column: span 3;
}

