@media screen and (min-width: 1300px) {
    header h1 {
        font-size: 30px;
        top: -1rem;
        left: 10rem;
    }

    h1::first-line {
        font-size: 50px;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }
    
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    #mode {
        position: absolute;
        top: 1rem;
        right: 15rem;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hero-text {
        top: 20rem;
        left: 20rem;
    }

    .hero-text p {
        font-size: 2rem;
    }

    main .hero-card {
        grid-column: span 3;
    }

    main .card:nth-child(2) {
        grid-column: span 2;
    }

    main .card:nth-child(3) {
        grid-column: 3 / 4;
    }

    main h2 {
        grid-column: span 3;
    }

    main .card:nth-child(5) {
        grid-column: 1 / 2;
    }

    main .card:nth-child(6) {
        grid-column: 2 / 3;
    }

    main .card:nth-child(7) {
        grid-column: 3 / 4;
    }

    .discover {
        grid-template: 1fr 1fr 500px / 500px 1fr;
    }
    
    .attractions-card {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }
    
    .attractions-card img {
        width: 400px;
    }

    .attractions-card:hover img {
        box-shadow: 0 0 50px var(--accent1-color);
    }

    .calendar-card p {
        font-size: 1.5rem;
    }

    .join h2 {
        font-size: 2.5rem;
    }
    
    table {
        grid-column: 2 / 4;
    }

    caption {  
        font-size: 2.5rem;
    }

    tr:first-child th{
        font-size: 1.25rem;
    }
    
    tbody td:first-child {
        font-size: 1.2rem;
    }

    footer .social img {
        width: 5%;
    }
    
    footer img {
        width: 30%;
    }
}