@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: "Alegreya Sans", Helvetica, sans-serif;
    line-height: 1.5;
}

header, main, footer {
    max-width: 900px;
    margin: auto;
    padding: 1rem;
    color: #2B2D42;

}

header, h3, footer {
    background-color: #FFEE93;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

img {
    width: auto;
    height: 150px;
    object-fit: cover;
}

h1 {
    font-size: 45px;
    padding: 1rem;
}

nav {
    max-width: 900px;
    margin: auto;
    /* background-color: #FFC09F; */
    font-family: Alegreya, Georgia, serif;
}

#menu {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem;
    border: 0;
    background: none;
    color: black;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "≡";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    background-color: #2B2D42;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #FFC09F;
}

.navigation a:hover{
    background-color: #E56B6F;
    color: #FFC09F;;
    font-weight: 700;
}

.open a {
    display: block;
}

.active {
    background-color: #E56B6F;
    color:#2B2D42;
    text-decoration: underline;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;  
}

section {
    box-sizing: border-box;
}

h2 {
    border-bottom: 2px solid #2B2D42;
    margin: 1rem 0;
    text-align: center;
}

.card {
    border: 1px solid #2B2D42;
    border-radius: 8px;
}

.card h3 {
    font-size: 1.5rem;
    text-align: center;
    padding: .5rem;
    border-radius: 8px 8px 0 0;
}

.card ul li {
    list-style: none;
    font-family: Alegreya, Georgia, serif;
    margin-left: 1rem;
    padding: .3rem;
}

div {
    text-align: center;
}

#lastModified {
    font-size: 15px;
}

iframe {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 450px;
    border: none;
    margin: 0 auto;
    padding: 1rem;
}

footer {
    text-align: center;
    font-size: 25px;
    padding: 15px;
}